.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-grid {
    width: 1250px;
    height: 675px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    border: 1px solid white;
    height: 20%;
    width: 14%;
}

.date-value {
    margin-block: 5px;
    text-align: center;
    border-bottom: 1px solid white;

}

