.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75vh;
}

.calendar-controller {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.weekdays-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.weekday {
    font-weight: bold;
    text-align: center;
    width: 14.5%;
}

.calendar-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    width: 100%;
    height: 16%;
}

.square {
    border: 1px solid white;
    width: 14%;
    display: flex;
    justify-content: center;
}

.date-content {
    margin-top: 10px;
}

.filled, .back, .forward {
    cursor: pointer;
}