.date-view {
    position: fixed;
    top: 10%;
    left: 35%;
    height: 75vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 2px 7px rgba(34, 34, 34, 0.393);
}

.date-controller {
    margin-top: 15px;
    height: 10%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-close {
    cursor: pointer;
}

.date-view-body-container {
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
}

.date-view-body {
    height: 85%;
    width: 80%;
}

.date-view-forward, .date-view-back {
    cursor: pointer;
}

.date-view-panel {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.add-button {
    font-weight: bold;
    height: 22px;
    width: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
