.feed-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    overflow-y: scroll;
}

.feed-container::-webkit-scrollbar {
    display: none;
}

.post-container {
    margin-block: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-head {
    width: 75%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.post-content {
    width: 75%;
    margin-bottom: 15px;
}

.post-likes {
    font-weight: bold;
}

.likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}

.likes-icon {
    cursor: pointer;
}

.post-panel {
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.suggestions-container {
    width: 20%;
    position: absolute;
    left: 75%;
    top: 15%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-container {
    position: absolute;
    right: 65%;
    top: 15%;
    height: 50%;
}

