.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
}

.main-head {
    text-align: center;
}

.hero-top-container {
    height: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 50vw;
}

.hero-bottom-container {
    height: 66%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    width: 45%;
    font-weight: bold;

}

.benefits-container {
    width: 45%;
    display: flex;
    flex-direction: column;
}