.upcoming-stacks {
    width: 100%;
}

.stacks-head {
    text-align: center;
}

.stack-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-info {
    cursor: pointer;
    display: flex;
    width: 65%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
}

.stack-name {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 5px;
}