.week-view {
    margin-top: 7%;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.week-view-day {
    height: 50%;
    min-width: 13%;
    border-radius: 15px;
    cursor: pointer;
}

.week-label {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.week-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.week-movie-container {
    height: 75%;
    width: 95%;
}

.week-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 55%;
    height: 10%;
}