body {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

header {
  height: 10vh;
}

main {
  min-height: 78vh;
}

footer {
  height: 10vh;
}

.App, header, main, footer {
  transition: all 0.5s ease-in;
}

.no-select {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

